*,
*::before,
*::after {
    box-sizing: border-box;
}


header {
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    position: absolute !important;
    top: -99px !important;
    left: -99px !important;
}


.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    background-image: url("../img/icon-hamburger.svg");
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
/*
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}*/

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;


    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    list-style: none;
    padding-top: 1rem;
}

nav li {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #242D52;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

button {
    display: none;
}

@media screen and (min-width: 1439px) {

    * {
        background-color: teal;
    }

    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;

        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

}